.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

#map {
  height: 300px;
}

/* http://colorbrewer2.org/?type=sequential&scheme=GnBu&n=9 */

.marker-score-0 {background-color: rgba(247,252,240, 0.6)}
.marker-score-1 {background-color: rgba(224,243,219, 0.6)}
.marker-score-2 {background-color: rgba(204,235,197, 0.6)}
.marker-score-3 {background-color: rgba(168,221,181, 0.6)}
.marker-score-4 {background-color: rgba(123,204,196, 0.6)}
.marker-score-5 {background-color: rgba(78,179,211, 0.6)}
.marker-score-6 {background-color: rgba(43,140,190, 0.6)}
.marker-score-7 {background-color: rgba(8,104,172, 0.6)}
.marker-score-8 {background-color: rgba(8,64,129, 0.6)}

.marker-score-0 div {background-color: rgba(247,252,240, 0.9)}
.marker-score-1 div {background-color: rgba(224,243,219, 0.9)}
.marker-score-2 div {background-color: rgba(204,235,197, 0.9)}
.marker-score-3 div {background-color: rgba(168,221,181, 0.9)}
.marker-score-4 div {background-color: rgba(123,204,196, 0.9)}
.marker-score-5 div {background-color: rgba(78,179,211, 0.9)}
.marker-score-6 div {background-color: rgba(43,140,190, 0.9)}
.marker-score-7 div {background-color: rgba(8,104,172, 0.9)}
.marker-score-8 div {background-color: rgba(8,64,129, 0.9)}

.marker-score {
  opacity: 1;
}
.test {}

.marker-cluster {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.8;
}

.marker-cluster div {
  width: 75%;
  height: 75%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {

}
